# Entered manually by Rob:
/apt_mgt/settings.py

# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
venv/

# Static folder at project root
/static/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# pycharm
.idea/
